# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Arquivos de dados
data/vendas/*.xls
data/vendas/*.xlsx
data/recebimentos/*.xls
data/recebimentos/*.xlsx

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
